* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Bookman Old Style";
}
input[type="checkbox"] {
  zoom: 2;
}

/*======================================className */
.link {
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-top: 3vh;
}
.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}
/*====================================SearchBar*/
.container {
  font-size: 2vh;
  height: 15vh;
  margin: 2vh;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.searchBarInput {
  width: 13vh;
  padding: 0.05vh;
  margin: 1vh 1vh 1vh 0;
  font-size: 1.5vh;
}
.searchBarInputName {
  width: 20vh;
  padding: 1vh;
  margin: 1vh 1vh 1vh 0;
  font-size: 2vh;
  border-style: solid;
  border-radius: 25px;
  border-color: RGB(36, 60, 146, 0.5);
  font-size: 2vh;
}
.cell-3 {
  margin: 0 0 0 -6vh;
}

.searchBarInputLookingFor {
  width: 20vh;
  padding: 1vh;
  margin: 1vh 1vh 1vh -1vh;
  font-size: 2vh;
  border-style: solid;
  border-radius: 25px;
  border-color: RGB(36, 60, 146, 0.5);
  font-size: 2vh;
}

/*====================================AllProfiles */

.allProfilesContentContainer {
  margin-top: 0vh;
  margin-bottom: 15vh;
}
.allProfilesPleaseLogin {
  font-size: 8vh;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.allProfilesPleaseLoginImage {
  width: 50vh;
  height: 50vh;
}
.allProfilesImage {
  width: 20vh;
  height: 20vh;
  display: block;
  text-align: center;
}

.allProfilesCardContainer {
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  text-align: center;
  margin: 2vh auto;
  width: 30vh;
  font-size: 1.75vh;
  box-shadow: 5px 10px;
  border-width: medium;
}
.allProfilesProfilePicture {
  width: 20vh;
  height: 20vh;
  margin: 1vh;
  border-style: solid;
  border-radius: 25px;
  border-width: medium;
}
.allProfilesName {
  font-weight: bold;
  margin-top: 2vh;
}
.allProfilesLink {
  margin: 1vh 0;
}
.allProfilesLeftContent {
  text-align: left;
  margin: 3vh;
  overflow: auto;
}

/*===================================Footer */
.FooterContainer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  position: absolute;
  width: 90vw;
  bottom: 5vh;
}
.textFooterContainer {
  font-size: 2vh;
}
.footerLink {
  font-size: 2vh;
  text-decoration: none;
  color: black;
}

/*=================================My Messages */

.myMessagesImg {
  width: 30vh;
  height: 30vh;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
}
.myMessagesOverflowContainer {
  margin-bottom: 15vh;
}
.individualMessageContainer {
  border-style: solid;
  border-color: #192484;
  border-radius: 25px;
  box-shadow: 5px 10px;
  margin: 1vh;
  padding: 1vh;
  font-size: 2vh;
  background-image: linear-gradient(
    to left,
    rgba(25, 36, 132, 0.5),
    rgba(25, 36, 132, 0.2)
  );
}
.myMessageDelete {
  position: relative;
  left: 75vw;
  font-size: 2vh;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 0.25vh;
}
.myMessageInputMessage {
  margin-top: 1vh;
}
.myMessagesNoMessages {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 4vh;
}
/*=================================HomePage */

.homePageContent {
  width: 100vw;
  height: 100vh;
  margin-bottom: 30vh;
}

.homePageImage {
  height: 40vh;
  width: 40vh;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
}
.linkHome {
  font-size: 5vw;
  margin-left: 2vh;
  margin-bottom: 7vh;
  text-align: center;
  color: #181d85;
}
.homePageFireHydrant {
  width: 5vh;
  height: 5vh;
  margin-left: 3vw;
  border-radius: 25%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin-top: 1vh;
  margin-bottom: -1vh;
}

/*======================================SignupPage */

.formSignup {
  font-size: 1.5vh;
  font-weight: bold;
}
.containerFormSignup {
  margin: -7vh 5vw 15vh 5vw;
  font-size: 2vh;
}
.imgLogoSignupLeft {
  display: inline-block;
  width: 40vw;
  height: 40vw;
  position: relative;
  left: -35vw;
  top: -6vw;
}

.titleSignup {
  display: inline-block;
  font-size: 2.5vh;
  font-weight: bold;
  max-width: 60vw;
  position: relative;
  text-align: left;
  left: 5vh;
  top: -17vh;
}
.headerContainerSignup {
  max-width: 90vw;
  text-align: center;
}
.checkboxSignup {
  font-size: 2vh;
}
.submitSignup {
  text-align: center;
  margin: 3vh 0vw;
  font-size: 2vh;
}
.playDateSignup {
  margin-top: 3vh;
  margin-bottom: 2vh;
}
/*=====================================LoginPage */
.containerLogin {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vh;
  border-color: #202f8a;
}

.imgLogoLogin {
  width: 40vh;
  height: 40vh;
  text-align: center;
  display: block;
  margin: auto auto -2vh auto;
}
.formLogin {
  min-width: 40h;
  font-size: 2.5vh;
  margin: 3vh 6vh;
}

.formLoginSignup {
  font-size: 3vh;
  text-align: center;
  padding-bottom: 2vh;
}
.subTitleLogin {
  text-align: center;
  margin-left: 0vw;
  font-size: 2vh;
}

/*=========================================EditHuman*/
.humanEditImage {
  height: 50vh;
  display: block;
  text-align: center;
  margin: -15vh auto 5vh auto;
}
.humanEditFormContainer {
  margin: 0 0 40vh 2vh;
}
.humanEditCategories {
  font-size: 2vh;
}

/*=========================================CreateDog*/
.createDogImage {
  height: 50vh;
  text-align: center;
  display: block;
  margin: -8vh auto -5vh auto;
}
.createDogContainer {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vw;
  border-color: #202f8a;
  background-size: cover;
  overflow: auto;
}
.createDogForm {
  margin: 0 3vw 15vh 3vw;
}
.createDogCategories {
  font-size: 2vh;
}
.createDogInput {
  width: 50vw;
  padding: 0.05vh;
  margin: 2vh 2vw 2vh 0;
  font-size: 2vh;
}
.createDogInputText {
  width: 30vh;
  padding: 1vh;
  margin: 2vh 2vw 2vh 0;
  font-size: 2vh;
  border-style: solid;
  border-radius: 25px;
  border-color: RGB(36, 60, 146, 0.5);
  font-size: 2vh;
}
.createDogSubmit {
  text-align: center;
  margin: auto;
  width: 25vw;
  padding: 0.5vh;
  margin: 2vh 0 0 0;
  font-size: 2vh;
  font-weight: bold;
  color: black;
  background-color: rgba(23, 69, 186, 0.8);
  border-radius: 25px;
}
.createDogChooseFile {
  text-align: center;
  margin: auto;
  width: 75vw;
  padding: 0.05vh;
  margin: 2vh 0 2vh 0;
  font-size: 2vh;
}
/*==========================================EditDog*/
.editDogImage {
  width: 45vh;
  height: 45vh;
  display: block;
  text-align: center;
  margin: auto;
}

.editEditDogImage {
  width: 45vh;
  height: 45vh;
  display: block;
  text-align: center;
  margin: -5vh auto 3vh;
}
.editDogText {
  font-size: 3.5vh;
  font-weight: bold;
  text-align: center;
}
.dogEditLink {
  text-align: center;
  display: block;
  margin: 10vh 0;
  border-style: solid;
  border-radius: 25px;
  padding: 1vh;
  text-decoration: none;
  color: rgba(23, 69, 186);
  background-color: rgba(23, 69, 186, 0.4);
}
.dogEditCheckBox {
  margin: 5vh 0;
  font-size: 3vh;
}
.dogEditFontSize {
  font-size: 3vh;
}
/*===========================================logOut*/

.logOutText {
  font-size: 4vh;
  margin: 3vh auto 4vh auto;
  text-align: center;
  justify-content: center;
}
.logoLogOutImage {
  display: block;
  text-align: center;
  margin: auto;
  width: 45vh;
  height: 40vh;
}
.logOutReturnToLogin {
  display: block;
  text-align: center;
  width: 35vh;
  font-size: 2vh;
  margin: 5vh auto;
  border-style: solid;
  border-radius: 25px;
  padding: 1vh;
  text-decoration: none;
  color: black;
  background-color: rgba(23, 69, 186, 0.8);
}
/*================================ProfileDetails*/
.profileDetailsPicture {
  width: 25vh;
  height: 30vh;
  border: solid;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  margin: 1vh;
}
.profileDetailsImage {
  text-align: center;
  justify-content: center;
  display: block;
  width: 50vh;
  height: 25vh;
  margin-top: -5vh;
  margin-bottom: -10vh;
  margin-right: auto;
  margin-left: auto;
}
.profileDetailsCard {
  justify-content: center;
  margin: 2vh 2vh 2vh 4vh;
  font-size: 1.5vh;
  margin-bottom: 20vh;
}
.profileDetailsName {
  font-weight: bold;
  font-size: 3vh;
  margin-bottom: 0.5vh;
}
.profileDetailsCenter {
  text-align: center;
  justify-content: center;
}
.profileDetailsText {
  font-size: 3vh;
  margin-top: 1vh;
}
.profileDetailsList {
  margin: 1vh 1vh 0 2vh;
}
.bold {
  font-weight: bold;
}
.profileDetailsLink {
  text-align: center;
  display: block;
  margin: 6vh 2vh;
  font-size: 3vh;
  text-decoration: none;
}
.profileDetailsMessageMyHuman {
  text-align: center;
  display: block;
  margin: 10vh 0;
  border-style: solid;
  border-radius: 25px;
  padding: 1vh;
  text-decoration: none;
  color: rgba(23, 69, 186);
  background-color: rgba(23, 69, 186, 0.4);
}
/*=========================================MyDogs*/

.myDogsLogo {
  height: 20vh;
  width: 30vh;
  align-content: center;
  display: block;
  margin: auto;
}
/*========================================MessageMyHuman */
.messageMyHumanImage {
  height: 30vh;
  width: 30vh;
  display: block;
  text-align: center;
  margin: -7vh auto 5vh auto;
}
.messageMyHumanContentContainer {
  font-size: 3vh;
  margin: 2vh;
}
.messageMyHumanTextBox {
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 2vh;
  width: 40vh;
  font-size: 2vh;
  margin-top: 2vh;
  overflow-wrap: normal;
}
/*=========================================================@MEDIA MIN-768*/
@media only screen and (min-width: 768px) {
  .allProfilesContentContainer {
    max-height: 40vw;
    margin-top: 0vh;
    margin-bottom: 11vh;
    float: left;
  }
  .allProfilesPleaseLogin {
    font-size: 5vw;
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  .allProfilesPleaseLoginImage {
    width: 40vw;
    height: 40vw;
  }
  .allProfilesImage {
    width: 20vh;
    height: 20vh;
    display: block;
    text-align: center;
    margin: auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }

  .allProfilesCardContainer {
    border-style: solid;
    border-radius: 15px;
    border-color: black;
    display: block;
    text-align: center;
    margin: 1.5vw 2.1vw;
    width: 17.9vw;
    font-size: 1.5vw;
    box-shadow: 5px 10px;
    border-width: medium;
    background: white;
  }
  .allProfilesProfilePicture {
    width: 12vw;
    height: 12vw;
    margin: 1vw;
    border-style: solid;
    border-radius: 25px;
    border-width: medium;
  }
  .allProfilesName {
    font-weight: bold;
    margin-top: 1.5vw;
  }
  .allProfilesLink {
    margin: 1vw 0;
    font-size: 1.5vw;
  }
  .allProfilesLeftContent {
    text-align: left;
    margin: 1vw;
    height: 10vw;
    font-size: 1.25vw;
    overflow: auto;
  }

  /*====================================WideScreenSearchBar*/
  .container {
    font-size: 2vw;
    height: 15vh;
    margin: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .searchBarInput {
    width: 15vw;
    padding: 1vh;
    margin: 1vh 1vw 1vw 0;
    font-size: 2vh;
    font-size: 2vh;
    border-style: solid;
    border-radius: 25px;
    border-color: RGB(36, 60, 146, 0.5);
    font-size: 2vh;
  }
  .searchBarInputName {
    width: 25vw;
    padding: 1vh;
    margin: 1vh -10vw 1vh 0;
    font-size: 2vh;
    border-style: solid;
    border-radius: 25px;
    border-color: RGB(36, 60, 146, 0.5);
    font-size: 2vh;
  }
  .cell-3 {
    margin: 0 0 0 -6vh;
  }
  .searchBarInputLookingFor {
    width: 25vw;
    padding: 1vh;
    margin: 1vh 1vh 1vh 0;
    font-size: 2vh;
    border-style: solid;
    border-radius: 25px;
    border-color: RGB(36, 60, 146, 0.5);
    font-size: 2vh;
  }

  /*===================================WideScreenFooter */
  .FooterContainer {
    padding: 1vw;
    text-align: center;
    position: absolute;
    width: 90vw;
    bottom: 5vh;
    background-image: url("/bone6.jpg");
    background-size: 5vw 5vw;
    background-repeat: repeat;
  }
  .textFooterContainer {
    font-size: 2.5vh;
    color: black;
  }
  .footerLink {
    font-size: 2.5vh;
    text-decoration: none;
    color: black;
  }
  .messageMyHumanContentContainer {
    font-size: 3vh;
    margin: 2vh;
  }
  .messageMyHumanTextBox {
    border: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 2vh;
    width: 40vh;
    font-size: 2vh;
    margin-top: 2vh;
    overflow-wrap: normal;
  }
  /*===================================================WideScreenLogin*/
  .containerLogin {
    height: 100vh;
    width: 100vw;
    border-style: outset;
    border-width: 5vh 5vh;
    border-color: #202f8a;
    background-image: url("/bone6.jpg");
    background-size: 5vw 5vw;
    background-repeat: repeat;
  }
  .imgLogoLogin {
    width: 35vh;
    height: 35vh;
    text-align: center;
    display: block;
    margin: auto auto -2vh auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }

  /*=================================WideScreenHomePage */

  .homePageContent {
    width: 90vw;
    height: 60vh;
    margin-bottom: 30vh;
    text-align: center;
    display: block;
  }

  .homePageImage {
    height: 20vw;
    width: 20vw;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  .linkHome {
    font-size: 2vw;
    margin: 1vw;
    margin-bottom: 7vh;
    color: #181d85;
    background-color: rgb(147, 207, 253, 0.2);
  }
  .homePageFireHydrant {
    width: 2.6vw;
    height: 2.6vw;
    margin-left: 3vw;
    border-radius: 25%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-top: 3vw;
    margin-bottom: -1vh;
  }
  .homePageWideScreenDisplayFlex {
    display: inline-flex;
  }
  .homePageWideScreenFloatContainer {
    display: inline-flex;
  }

  /*=========================================WideScreenCreateDog*/
  .createDogImage {
    height: 20vw;
    text-align: center;
    display: block;
    padding: -10vh;
    margin: 0vh auto -1vw auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  .createDogContainer {
    height: 100vh;
    width: 100vw;
    border-style: outset;
    border-width: 5vh 5vw;
    border-color: #202f8a;
    background-size: 90vh 90vw;
    background-color: RGB(149, 207, 253);
    overflow: auto;
    background-image: url("/bone6.jpg");
    background-size: 5vw 5vw;
    background-repeat: repeat;
    z-index: -1;
  }
  .createDogForm {
    margin: 0 3vw 15vh 3vw;
  }
  .createDogCategories {
    font-size: 2vw;
  }
  .createDogInput {
    width: 50vw;
    padding: 1vh;
    margin: 2vh 2vw 2vh 0;
    font-size: 1.5vw;
    border-style: solid;
    border-radius: 25px;
    border-color: RGB(36, 60, 146, 0.5);
  }
  .createDogInputText {
    width: 40vw;
    padding: 1vw;
    margin: 2vh 2vw 2vh 0;
    font-size: 1.5vw;
    border-style: solid;
    border-radius: 25px;
    border-color: RGB(36, 60, 146, 0.5);
    font-size: 2vh;
  }
  .createDogSubmit {
    text-align: center;
    margin: auto;
    width: 25vw;
    padding: 0.5vh;
    margin: 2vh 0 0 0;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    background-color: rgba(23, 69, 186, 0.8);
    border-radius: 25px;
  }
  .createDogChooseFile {
    text-align: center;
    margin: auto;
    width: 75vw;
    padding: 0.05vh;
    margin: 2vh 0 2vh 0;
    font-size: 1.25vw;
  }
  /*==========================================================wideScreenLogOut*/
  .logoLogOutImage {
    display: block;
    text-align: center;
    margin: auto;
    width: 45vh;
    height: 40vh;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  /*=================================WideScreenMyMessages */

  .myMessagesImg {
    width: 30vh;
    height: 30vh;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  .myMessagesOverflowContainer {
    margin-bottom: 15vh;
  }
  .individualMessageContainer {
    border-style: solid;
    border-color: #192484;
    border-radius: 25px;
    width: 60vw;
    box-shadow: 5px 10px;
    margin: 5vw;
    padding: 1vh;
    font-size: 1.25vw;
    background-color: white;
    background-image: none;
  }
  .myMessageDelete {
    position: relative;
    left: 55vw;
    font-size: 2vh;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-width: 0.25vh;
  }
  .myMessageInputMessage {
    margin-top: 1vw;
  }
  .myMessagesNoMessages {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 4vh;
  }
  /*==========================================WideScreenEditDog*/
  .editDogImage {
    width: 30vh;
    height: 30vh;
    display: block;
    text-align: center;
    margin-top: 2vh auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }

  .editEditDogImage {
    width: 45vh;
    height: 45vh;
    display: block;
    text-align: center;
    margin: auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  .editDogText {
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;
  }
  .dogEditLink {
    text-align: center;
    display: block;
    width: 30vw;
    margin: auto;
    border-style: solid;
    border-radius: 25px;
    padding: 1vh;
    text-decoration: none;
    color: black;
    background-color: rgba(23, 69, 186, 0.8);
  }
  .dogEditCheckBox {
    margin: 3vh 0;
    font-size: 3vh;
  }
  .dogEditFontSize {
    font-size: 2.5vh;
  }
  .editDogNameMargin {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  /*======================================WideScreenSignupPage */

  .formSignup {
    font-size: 2vw;
    font-weight: bold;
  }
  .containerFormSignup {
    margin: -7vh 5vw 15vh 5vw;
    font-size: 2vw;
  }
  .imgLogoSignupLeft {
    display: inline-block;
    width: 40vw;
    height: 40vw;
    position: relative;
    left: -5vw;
    top: -6vw;
    margin-right: -4vw;
  }

  .titleSignup {
    display: inline-block;
    font-size: 2.5vw;
    font-weight: bold;
    max-width: 50vw;
    position: relative;
    text-align: left;
    left: 1vw;
    top: -17vw;
  }
  .headerContainerSignup {
    max-width: 90vw;
    text-align: center;
  }
  .checkboxSignup {
    font-size: 2vw;
  }
  .submitSignup {
    text-align: center;
    margin: 3vh 0vw;
    font-size: 2vw;
  }
  .playDateSignup {
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
  /*================================WideScreenProfileDetails*/
  .profileDetailsPicture {
    width: 25vh;
    height: 20vh;
    border: solid;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin: 1vh;
  }
  .profileDetailsImage {
    text-align: center;
    justify-content: center;
    display: block;
    width: 40vh;
    height: 20vh;
    margin: auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  .profileDetailsCard {
    justify-content: center;
    margin: 2vh 2vh 2vh 4vh;
    font-size: 1.5vh;
    margin-bottom: 20vh;
  }
  .profileDetailsName {
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 0.5vh;
  }
  .profileDetailsCenter {
    text-align: center;
    justify-content: center;
  }
  .profileDetailsText {
    font-size: 3vh;
    margin-top: 1vh;
  }
  .profileDetailsList {
    margin: 1vh 1vh 0 2vh;
  }
  .bold {
    font-weight: bold;
  }
  .profileDetailsLink {
    text-align: center;
    display: block;
    margin: 6vh 2vh;
    font-size: 3vh;
    text-decoration: none;
  }
  .profileDetailsMessageMyHuman {
    text-align: center;
    display: block;
    margin: 1vh auto;
    width: 25vw;
    padding: 0.5vh;
    font-size: 3vh;
    font-weight: bold;
    color: black;
    background-color: rgba(23, 69, 186, 0.8);
    border-radius: 25px;
  }

  /*=============================================wideScreenMyDogs*/
  .myDogsLogo {
    height: 20vh;
    width: 30vh;
    align-content: center;
    display: block;
    margin: auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  .wideScreenMyDogsContainer {
    height: 50vh;
    width: 80vw;
    display: inline-flex;
    margin: 1vh 6.25vw;
    padding: 3vw 0 3vw 3vw;
    border-style: solid;
    border-radius: 35px;
    background: white;
    overflow-y: auto;
  }
  .wideScreenMyDogsLeftContainer {
    display: inline-flex;
    float: left;
  }
  .wideScreenInputWidth {
    width: 33vw;
    margin-bottom: 1vh;
  }
  .editDogProfileLink {
    width: 10vh;
    height: 10vh;
    justify-content: center;
    padding: 3vh 2vh 0vh 2vh;
    margin: 1vh 2vh 0vh 0vh;
    font-size: 1.5vh;
    font-weight: bold;
    color: black;
    background-color: rgba(23, 69, 186, 0.8);
    border-radius: 25px;
    display: inline-flex;
    text-decoration: none;
  }
  .myDogProfileDetailsCard {
    margin-bottom: 25vh;
  }
  /*========================================MessageMyHuman */
  .messageMyHumanImage {
    height: 30vh;
    width: 30vh;
    display: block;
    text-align: center;
    margin: auto;
    border-style: dotted;
    border-radius: 50%;
    border-color: #202f8a;
    border-width: 0.5vw;
  }
  .messageMyHumanContentContainer {
    font-size: 3vh;
    margin: 2vh 3vw;
  }
  .messageMyHumanTextBox {
    width: 50vw;
    height: 10vh;
    box-sizing: border-box;
    border: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    padding-top: 2vh;
    font-size: 2vh;
    margin-top: 2vh;
    resize: none;
  }
  .messageMyHumanGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
