* {
  box-sizing: border-box;
}
/*
colors
#A8DADC = BleuPale
#457B9D = Bleu
#1D3557 = BleuFoncé
#F1FAEE = Blanc
#E63946 = Rouge
*/

body {
  background-color: #ffffff;
  margin: 0;
  font-family: "Bookman Old Style";
}
input[type="checkbox"] {
  zoom: 2;
}

/*======================================className */
.imgProfilePicture {
  max-width: 100px;
  max-height: 100px;
}
.link {
  text-decoration: none;
  font-size: 3vh;
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-top: 3vh;
}
.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}
/*====================================SearchBar*/
.searchBar {
  font-size: 1.75vh;
  margin: 2vh 0 2vh 2vh;
}
.searchBarInput {
  font-size: 1.5vh;
}
/*====================================AllProfiles */
.allProfilesContainer {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vw;
  border-color: #202f8a;
  background-size: cover;
  overflow: auto;
}

.allProfilesPleaseLogin {
  font-size: 8vh;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.allProfilesPleaseLoginImage {
  width: 50vh;
  height: 50vh;
}
.allProfilesImage {
  width: 50vw;
  height: 50vw;
  float: right;
}
.allProfilesCardContainer {
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  text-align: center;
  margin: 2vh auto;
  width: 50vw;
  font-size: 1.75vh;
  box-shadow: 5px 10px;
  border-width: medium;
}
.allProfilesProfilePicture {
  width: 30vw;
  height: 30vw;
  margin: 1vh;
  border-style: solid;
  border-radius: 25px;
  border-width: medium;
}
.allProfilesName {
  font-weight: bold;
  margin-top: 2vh;
}
/*====================================TopPageBar */

.TopPageBarContainer {
  text-align: center;
  border-bottom-style: solid;
  font-weight: bold;
  color: #0e0d0d;
  font-size: 5vh;
}
.TopPageBarTitle {
  font-weight: bold;
  font-size: 4vw;
}
.linkToLoginTopPageBar {
  color: #e63946;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  position: absolute;
  right: 20px;
}
/*===================================Footer */
.FooterContainer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  position: absolute;
  width: 90vw;
  bottom: 5vh;
}
.textFooterContainer {
  font-size: 4vw;
}
.footerLink {
  font-size: 2vh;
  text-decoration: none;
  color: black;
}

/*=================================My Messages */
.myMessagesContainer {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vw;
  border-color: #202f8a;
  background-size: cover;
  overflow: auto;
}

.myMessagesImg {
  width: 30vh;
  height: 30vh;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
}
.myMessagesOverflowContainer {
  margin-bottom: 15vh;
}
.individualMessageContainer {
  border-style: solid;
  border-color: #192484;
  border-radius: 25px;
  box-shadow: 5px 10px;
  margin: 1vh;
  padding: 1vh;
  font-size: 1.25vh;
  background-image: linear-gradient(
    to left,
    rgba(25, 36, 132, 0.5),
    rgba(25, 36, 132, 0.2)
  );
}
.myMessageDelete {
  position: relative;
  left: 75vw;
  font-size: 2vh;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 0.25vh;
}
.myMessageInputMessage {
  margin-top: 1vh;
}
/*=================================HomePage */
/*.homePageEnvelope {
  width: 20vh;
  height: 20vh;
}*/
.homePageFireHydrant {
  width: 5vh;
  height: 5vh;
  margin-left: 3vw;
  border-radius: 25%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  margin-top: 1vh;
  margin-bottom: -1vh;
}
.homePageContainer {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vw;
  border-color: #202f8a;
  background-size: cover;
}
.homePageImage {
  height: 40vh;
  width: 40vh;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
}
.linkHome {
  font-size: 5vw;
  margin-left: 2vh;
  margin-bottom: 7vh;
  text-align: center;
  color: #181d85;
}
/*.linkHome:hover {
  pointer-events: grab;
}
/*======================================SignupPage */

.singupContainer {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vw;
  border-color: #202f8a;
  overflow: auto;
}
.formSignup {
  font-size: 1.5vh;
  font-weight: bold;
}
.containerFormSignup {
  margin: -7vh 5vw 15vh 5vw;
  font-size: 2vh;
}
.imgLogoSignupLeft {
  display: inline-block;
  width: 40vw;
  height: 40vw;
  position: relative;
  left: -35vw;
  top: -6vw;
}

.titleSignup {
  display: inline-block;
  font-size: 2.5vh;
  font-weight: bold;
  max-width: 60vw;
  position: relative;
  text-align: top;
  left: 5vw;
  top: -15vh;
}
.headerContainerSignup {
  max-width: 90vw;
  text-align: center;
}
.checkboxSignup {
  font-size: 2vh;
}
.submitSignup {
  text-align: center;
  margin: 3vh 0vw;
  font-size: 2vh;
}
.playDateSignup {
  margin-top: 3vh;
  margin-bottom: 2vh;
}
/*=====================================LoginPage */
.containerLogin {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 10vw;
  border-color: #202f8a;
}

.imgLogoLogin {
  width: 75vw;
  height: 40vh;
  margin: 0vh 4vw -2vh 4vw;
}
.formLogin {
  min-width: 40vw;
  font-size: 2.5vh;
  margin: 5vh 10vw;
}
.formLoginSubmit {
  font-size: 2vh;
  margin-left: 0%;
  margin-top: 2vh;
}
.formLoginSignup {
  font-size: 3vh;
  text-align: center;
  padding-bottom: 2vh;
}
.subTitleLogin {
  text-align: center;
  margin-left: 0vw;
  font-size: 2vh;
}
.inputLogin {
  min-width: 50vw;
  padding: 1vh;
  border-bottom-style: solid;
  font-size: 1.5vh;
}
.textInputSignup {
  margin-left: 3vw;
  margin-bottom: 4vh;
}
/*=========================================EditHuman*/
.humanEditContainer {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vw;
  border-color: #202f8a;
  background-size: cover;
  overflow: auto;
}
.humanEditImage {
  height: 50vh;
  height: 50vh;
  margin: -13vh auto 10vh auto;
}
.humanEditFormContainer {
  margin: 0 0 15vh 2vh;
}
.humanEditCategories {
  font-size: 2vh;
}

/*=========================================CreateDog*/
.createDogImage {
  width: 50vh;
  height: 50vh;
  text-align: center;
  margin: -8vh auto -5vh auto;
}
.createDogContainer {
  height: 100vh;
  width: 100vw;
  border-style: outset;
  border-width: 5vh 5vw;
  border-color: #202f8a;
  background-size: cover;
  overflow: auto;
}
.createDogForm {
  margin: 0 3vw 15vh 3vw;
}
.createDogCategories {
  font-size: 2vh;
}
.createDogInput {
  width: 50vw;
  padding: 0.05vh;
  margin: 2vh 2vw 2vh 0;
  font-size: 1.5vh;
}
.createDogInputText {
  width: 75vw;
  padding: 1vh;
  margin: 2vh 2vw 2vh 0;
  font-size: 2vh;
  border-style: solid;
  border-radius: 25px;
  border-color: RGB(36, 60, 146, 0.5);
  font-size: 2vh;
}
.createDogSubmit {
  text-align: center;
  margin: auto;
  width: 25vw;
  padding: 0.05vh;
  margin: 2vh 0 0 0;
  font-size: 2vh;
}
.createDogChooseFile {
  text-align: center;
  margin: auto;
  width: 75vw;
  padding: 0.05vh;
  margin: 2vh 0 2vh 0;
  font-size: 2vh;
}
/*==========================================EditDog*/
.editDogImage {
  width: 45vh;
  height: 45vh;
  text-align: center;
  margin: 0, 5vh, 5vh, 5vh;
}
.editDogText {
  font-size: 3.5vh;
  font-weight: bold;
  text-align: center;
}
.dogEditLink {
  text-align: center;
  margin: 10vh 0;
  border-style: solid;
  border-radius: 25px;
  padding: 1vh;
  text-decoration: none;
  color: rgba(23, 69, 186);
  background-color: rgba(23, 69, 186, 0.4);
}
.dogEditCheckBox {
  margin: 5vh 0;
  font-size: 3vh;
}
.dogEditFontSize {
  font-size: 3vh;
}
/*===========================================logOut*/

.logOutText {
  font-size: 6vh;
  margin: 3vh auto 4vh auto;
  text-align: center;
  justify-content: center;
}
.logoLogOutImage {
  width: 45vh;
  height: 40vh;
  margin: 0vh -5vh -2vh 4vh;
}
/*================================ProfileDetails*/
.profileDetailsPicture {
  width: 25vh;
  height: 30vh;
  border: solid;
  border-radius: 15px;
}
.profileDetailsCard {
  text-align: center;
  justify-content: center;
  margin: 2vh 2vh 2vh 4vh;
  font-size: 1.5vh;
  overflow: auto;
}
